body{
    width: 100%;
}
.topnav {
    background-color: #EEEEEE;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #003366;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #003366;
    color: white;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #003366;
    color: white;
}

/* body */
li{
    list-style-type: none;
}
.courses{
    box-shadow: 5px 10px #e7e7e7;
    margin-top: 30px;
    display: block;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 150px;
    background: linear-gradient(to bottom, #003366 50%, rgb(245, 245, 245) 50%);

}
.coursesleft{
    color: #ffffff;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}
.coursesright{
    color: #ffffff;
    float: right;
    margin-top: 20px;
    margin-right: 2%;
}
.instructoremail{
    color: #ffffff;
    float: left;
    font-size: 10px;
    margin-top: -5%;
    margin-right: 15%;
}
.view{
    color: #003366;
    font-size: 12px;
    margin-top: 45%;
    margin-left: -25%;
    cursor: pointer;
}
.mycourses{
    box-shadow: 5px 10px #e7e7e7;
    margin-top: 30px;
    display: block;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 150px;
    background: linear-gradient(to bottom, #f0d1ae 50%, rgb(245, 245, 245) 50%);

}
.mycoursesleft{
    color: #003366;
    float: left;
    margin-top: 7px;
    margin-left: 5%;
}
.mycoursesright{
    color: #003366;
    float: right;
    margin-top: 20px;
    margin-right: 2%;
}
.myinstructoremail{
    color: #003366;
    float: left;
    font-size: 10px;
    margin-top: -13%;
    margin-right: 15%;
}
.myview{
    color: #003366;
    font-size: 12px;
    margin-top: 45%;
    margin-left: -25%;
    cursor: pointer;
}

/* ------- */
