@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    width:100%
}
.topnav {
    background-color: #EEEEEE;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #003366;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #003366;
    color: white;
}
li{
    list-style-type: none;
}

.middle-rectangle-profile{

    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 10px 4px rgba(207, 207, 207, 0.5);
    border-radius: 20px;

}

.p-div{
    position: absolute;
    top: 30%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 321px;
    height: 189px;

}
.text-profile{
    width: 164px;
    height: 20px;
    left: 595px;
    top: 281px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #003366;

    white-space:nowrap
}

.text-username{
    width: 164px;
    height: 20px;
    left: 595px;
    top: 281px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #003366;

    white-space:nowrap
}

.text-email{
    width: 164px;
    height: 20px;
    left: 595px;
    top: 281px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #003366;

    white-space:nowrap
}

.text-description{
    width: 164px;
    height: 20px;
    left: 595px;
    top: 281px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;


    color: #003366;

    white-space:nowrap
}


.middle-rectangle-des{

    width: 300px;
    height: 200px;
    position: absolute;
    top: 72%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
    background: rgba(0, 51, 102, 0.1);
    
    border-radius: 20px;

    word-wrap: break-word;
    overflow:auto;

}

.text-des{
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}



.input-first_name{

    width: 322px;
    height: 50px;
    position: absolute;
    left: 15%;
    top: 30%;

    background: rgba(0, 51, 102, 0.1);
    border-radius: 10px;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin: 8px 0px;
    color: rgba(74, 74, 74, 0.8);
    box-sizing: border-box;

    /*字体后移*/
    padding-left: 20px;
    border: none;
}

.input-last_name{

    width: 322px;
    height: 50px;
    position: absolute;
    left: 15%;
    top: 45%;

    background: rgba(0, 51, 102, 0.1);
    border-radius: 10px;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin: 8px 0px;
    color: rgba(74, 74, 74, 0.8);
    box-sizing: border-box;

    /*字体后移*/
    padding-left: 20px;
    border: none;
}

.input-des{

    width: 322px;
    height: 50px;
    position: absolute;
    left: 15%;
    top: 60%;

    background: rgba(0, 51, 102, 0.1);
    border-radius: 10px;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    margin: 8px 0px;
    color: rgba(74, 74, 74, 0.8);
    box-sizing: border-box;

    /*字体后移*/
    padding-left: 20px;
    border: none;
}

.button_edit{

    width: 321px;
    height: 50px;
    position: absolute;
    left: 15%;
    top: 80%;

    background: #003366;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    text-align:center;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor:pointer;
}