@import play.mvc.Http.Request

@import domain.Course
@import domain.Question

@(courseInfo:Course,listq: List[Question],show:String,currq:Question,curre:String)(questionForm: Form[domain.Question])(implicit request: Request, messages: Messages)


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CSE312</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/course.css")">


</head>
<body >


<div class="row" style="min-width: 1000px;" >

    <div class="header">
        <p onclick=location.href='/main' class="direct" style="float: Left;white-space: nowrap;padding-left: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></p>
        <p  class="direct" style="float:right ;margin-right: 3%"  onclick=window.location.replace("/")>Log out</p>
        <p  class="direct" style="float:right ;margin-right: 3%" id="current_user_email" onclick="window.open('/profile/@curre')">@curre</p>

    </div>
    <p id="join_code" hidden>@courseInfo.getCode()</p>

    <div  class="column side" style="width: 15%;float: left;margin-left: 4%;" >
        <div class="course_info">
            <p class="course_name" id='course_name' style="cursor:pointer;" onclick=location.href='@routes.HomeController.showCourse(courseInfo.getCode().toString())' >@courseInfo.getCourseName()</p><br>
            <p class="course_text">Instructor: @courseInfo.getEmail()</p><br>
            <p class="course_text" >Join Code: @courseInfo.getCode()</p>
        </div>

        <div class="left_retangle" id ='left_retangle'>
                <input id="current_select_question_id" value="@currq.getId()" hidden>
                <table>
                    @for( i <- listq){
                        <tr  >
                            <td class="" id="question_@i.getId()" onclick=location.href='@routes.HomeController.show_question(courseInfo.getCode().toString(),i.getId().toString())'>@i.getHeader()</td>
                        </tr>
                    }
                </table>
        </div>
    </div>

    <div  class="column middle" style="width: 55%;float: left">
        <div class="div_middle_button">
        </div >


        <div id = "middle_retangle" class="middle_retangle">

            <div id = "assign_div" hidden>
                <div style="width: 100%;height: Calc(97%- 62px) ;min-height: 65vh;position: relative;overflow: auto">
                    <p id = 'do_id' hidden></p>
                    <p id="do_title" class="h2text" style="padding-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    </svg></p>

                    <div style="margin: auto ; width:80%; height:60%; overflow: auto;"  >
                        <label class="label_text" for="Detail2">Question Details: </label><br><br>
                        <input id="do_details" class="input_box"  style="border-color: #6e6e6e" value="" disabled>

                        </Textarea><br><br>
                        <strong>A: </strong><p id="do_a" style="display:inline;"></p> <br>
                        <strong>B: </strong><p id="do_b" style="display:inline;"></p><br>
                        <strong>C: </strong><p id="do_c" style="display:inline;"></p><br>
                        <strong>D: </strong><p id="do_d" style="display:inline;"></p><br>


                    </div>
                    <div class="middle_blue_end" style="float: right;">
                        <form id="assign_form" style="padding-right: 5%;margin-top: 10px;" onsubmit="ws.sendAnswer()" action="javascript:void(0);" >
                            <input id = "anser_submit" style="float: right;"class="submit_button" type="submit" value="Submit">
                            <input id="answerBox" style="width: 20%;float: right;border:none;margin-right:20px;height: 34px;border-radius: 5px;" class="input_box" pattern="[A-Da-d]{1}"  title ="please enter 1 letter: 'A,B,C or D' "  placeholder="answer"  value="" required>
                            <button id= "time_remaining" style="text-align:center;border:none;float: right;margin-right:20px;height: 34px;border-radius: 5px;color: red;width: auto" class="input_box" hidden></button>
                        </form>
                        <button onclick="show_answer(@courseInfo.getCode())" id="show_answer_button" style="width: 20%;float: right;border:none;margin-right:20px;height: 34px;border-radius: 5px;" class="submit_button" hidden>Show Answer</button>
                    </div>
                </div>
            </div>

            <div id="show_div">

            @if(show.equals("gradebook")){
                <input id="current_select_question_id" value="@currq.getId()" hidden>
                <table>
                    @for( i <- listq){
                        <tr  >
                            <td class="" id="question_@i.getId()" onclick=location.href='@routes.HomeController.show_question(courseInfo.getCode().toString(),i.getId().toString())'>@i.getHeader()</td>
                        </tr>
                    }
                </table>

            }

            @if(show.equals("show_question")){

                <div style="width: 100%;height: Calc(97%- 62px) ;min-height: 65vh;position: relative;overflow: auto">
                    <p class="h2text" style="padding-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    </svg> @currq.getHeader()</p>

                    <div style="margin: auto ; width:80%; height:60%; overflow: auto;"  >
                        <label class="label_text" for="Detail2">Question Details: </label><br><br>
                        <input class="input_box"  style="border-color: #6e6e6e" id="Detail2" value="@currq.getDetail()" disabled>

                        </Textarea><br><br>
                        <p><strong>A:</strong> @currq.getAnswerA()</p>
                        <p><strong>B: </strong>@currq.getAnswerB()</p>
                        <p><strong>C: </strong>@currq.getAnswerC()</p>
                        <p><strong>D: </strong>@currq.getAnswerD()</p>

                        <a class="label_text" style="color:dodgerblue;cursor: pointer">Correct Answer:

                            <p  style="text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;line-clamp: 5;-webkit-box-orient: vertical;" class="label_text" id="show_answer" >
                                @if(currq.getAnswer().toUpperCase().equals("A")){
                                    A: @currq.getAnswerA()
                                }
                                @if(currq.getAnswer().toUpperCase().equals("B")){
                                    B: @currq.getAnswerB()
                                }
                                @if(currq.getAnswer().toUpperCase().equals("C")){
                                    C: @currq.getAnswerC()
                                }
                                @if(currq.getAnswer().toUpperCase().equals("D")){
                                    D: @currq.getAnswerD()
                                }
                            </p>
                        </a><br>
                    </div>
                </div>
            }

                @if(show.equals("show_onlyQ")){
                    <div style="width: 100%;height: Calc(97%- 62px) ;min-height: 65vh;position: relative;overflow: auto">
                        <p class="h2text" style="padding-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                        </svg> @currq.getHeader()</p>

                        <div style="margin: auto ; width:80%; height:60%; overflow: auto;"  >
                            <label class="label_text" for="Detail2">Question Details: </label><br><br>
                            <input class="input_box"  style="border-color: #6e6e6e" id="Detail2" value="@currq.getDetail()" disabled>

                            </Textarea><br><br>
                            <p><strong>A:</strong> @currq.getAnswerA()</p>
                            <p><strong>B: </strong>@currq.getAnswerB()</p>
                            <p><strong>C: </strong>@currq.getAnswerC()</p>
                            <p><strong>D: </strong>@currq.getAnswerD()</p>

                        </div>
                    </div>
                }
            </div>


        </div>
    </div>

    <div  class="column right" style="width: 20%;float: left"  >

        <div class="right_retangle" style="width: 100%;margin-top: 175px" >
            <div class="chat_header">Chat Room</div>

            <div class="chat_all_message" id ="chat_all_message">

            </div>

            <div class="chat_input" id="chatSubmit_div">
                <input class="chat_input_box" id='chat-comment' type="text" >

                <button id="send_message_button" class="chat_submit"  onclick=ws.sendMessage()>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>
    <script  type="text/javascript" src="@routes.Assets.versioned("javascripts/student.js")""> </script>
</body>
</html>