@import play.mvc.Http.Request

@import domain.Course
@import domain.Question
@import domain.User

@(courseInfo:Course,listq: List[Question],show:String,currq:Question,curre:String,roster:List[User])(questionForm: Form[domain.Question])(implicit request: Request, messages: Messages)


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CSE312</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/course.css")">


</head>
<body >

<div class="row" >

    <div class="header">
        <p onclick=window.location.replace("/main") class="direct" style="float: Left;white-space: nowrap;padding-left: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></p>
        <p  class="direct" style="float:right ;margin-right: 3%"  onclick=window.location.replace("/")>Log out</p>
        <p  class="direct" style="float:right ;margin-right: 3%" id="current_user_email" onclick="window.open('/profile/@curre')">@curre</p>

    </div>
    <p id="join_code" hidden>@courseInfo.getCode()</p>

    <div  class="column side" style="width: 15%;float: left;margin-left: 4%;" >
        <div class="course_info">
            <p class="course_name" id='course_name' style="cursor:pointer;" onclick=window.location.replace('@routes.HomeController.showCourse(courseInfo.getCode().toString())') >@courseInfo.getCourseName()</p><br>
            <p class="course_text">Instructor: @courseInfo.getEmail()</p><br>
            <p class="course_text" >Join Code: @courseInfo.getCode()</p>

        </div>
        <div class="left_retangle" id ='left_retangle'>
            <input id="current_select_question_id" value="" hidden>

            <table id ='show_question_table'>
                @for( i <- listq){
                    <tr  >
                        <td class="" id="questiontable_@i.getId()" onclick=ws.sendShowQuestion('@i.getId()')>@i.getHeader()</td>
                    </tr>
                }
            </table>

        </div>
    </div>

    <div  class="column middle" style="width: 55%;float: left">
        <div class="div_middle_button">
            <button class="gradebook_button" id="gradebook_button" onclick=ws.sendGradeBook()>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                GradeBook
            </button>

            <button class="roster_button" id ='roster_button' onclick=ws.sendRoster() value="Javascript">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
                Roster
            </button>

            <button class="add_question_button" id="add_question_button" onclick=showHide('add_question_div') value="Javascript">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add Question
            </button>
        </div >


        <div class="middle_retangle">
            <div id="add_question_div" hidden>
                    <p class="h2text" style="padding-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg> Add question</p>
                    <form id='add_question_form' style="padding-left: 8%; overflow: auto" method="POST" action="javascript:void(0)" >
                        @helper.CSRF.formField
                        <label class="label_text" for="header">Question Title: </label><br><br>
                        <input class="input_box" type="text" id="header" name="header" value="" required><br><br>
                        <label class="label_text"for="detail">Details:</label><br>
                        <Textarea rows="10" class="input_box"  id="detail" name="detail" style="height: 150px;" required></Textarea><br><br>

                        <label class="label_text" for="answerA">Answer:</label><br>
                        A: <input class="input_box" type="text" id="answerA" name="answerA" value=""><br><br>
                        B: <input class="input_box" type="text" id="answerB" name="answerB" value=""><br><br>
                        C: <input class="input_box" type="text" id="answerC" name="answerC" value=""><br><br>
                        D: <input class="input_box" type="text" id="answerD" name="answerD" value=""><br><br><br>

                        <label class="label_text" for="answer">Correct Answer: (Please Enter A,B,C,or D Only)</label><br>
                        <input class="input_box" type="text" id="answer" name="answer"  pattern="[A-Da-d]{1}" value="" required><br><br>

                        <label class="label_text" for="grade">Grade: (Maxim is 100)</label><br>
                        <input   class="input_box" type="number" id="grade" name="grade" value="" max="100" step="1" required><br><br>
                        <input  id="add_submit" class="submit_button" type="submit" name = "add_submit" value="Submit">
                    </form>

            </div>

            <div id="show_question_div" hidden>
                    <div style="width: 100%;height: Calc(97%- 62px) ;min-height: 65vh;position: relative;overflow: auto">
                        <p id="show_q_header" class="h2text" style="padding-left: 3%;" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                        </svg></p>

                        <div style="margin: auto ; width:80%; height:60%; overflow: auto;"  >
                            <label class="label_text" for="Detail2">Question Details: </label><br><br>
                            <input id='show_q_details' class="input_box"  style="border-color: #6e6e6e" id="Detail2" value="" disabled>

                            </Textarea><br><br>
                            <strong>A: </strong><p id='show_q_a' style="display:inline;" ></p><br>
                            <strong>B: </strong><p id='show_q_b' style="display:inline;" ></p><br>
                            <strong>C: </strong><p id='show_q_c' style="display:inline;" ></p><br>
                            <strong>D: </strong><p id='show_q_d'style="display:inline;" ></p><br>


                            <a class="label_text" style="color:dodgerblue;cursor: pointer">

                                <p  id="show_answer"  style="text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;line-clamp: 5;-webkit-box-orient: vertical;" class="label_text"  >

                                </p>
                                <p  id="show_grade"  style="text-overflow: ellipsis;-webkit-line-clamp: 5;line-clamp: 5;-webkit-box-orient: vertical;" class="label_text"  >
                                </p>

                            </a><br>
                        </div>

                        <div class="middle_blue_end" style="float: right;">
                            <form id="assign_form" style="padding-right: 5%;margin-top: 10px;"  action="javascript:void(0);">
                                <input style="float: right;"class="submit_button" type="submit" value="Assign">
                                <input  min="1" style="width: 20%;float: right;border:none;margin-right:20px;height: 34px;border-radius: 5px;" class="input_box" type="number"  placeholder="minutes"  id="timeBox" value="" required>
                                <button id= "time_remaining" style="text-align:center;border:none;float: right;margin-right:20px;height: 34px;border-radius: 5px;color: red;width: auto" class="input_box" hidden></button>
                            </form>

                        </div>
                    </div>


            </div>

            <div id="roster_div" hidden>
                <table id="roster_table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>


                </table>

            </div>

            <div id="gradebook_div" hidden>

                    <table id="gradebook_table">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Grade</th>
                        </tr>


                    </table>
            </div>
        </div>
    </div>


    <div  class="column right" style="width: 20%;float: left"  >

        <div class="right_retangle" style="width: 100%;margin-top: 175px" >
            <div class="chat_header">Chat Room
                <button id="send_message_button" class="chat_submit"  onclick=clearChatMessage()>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    </svg>
                </button>
            </div>

            <div class="chat_all_message" id ="chat_all_message">
            </div>

            <div class="chat_input" id="chatSubmit_div">
                <input class="chat_input_box" id='chat-comment' type="text" >

                <button class="chat_submit" onclick=ws.sendMessage()>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                </button>

            </div>
        </div>
    </div>

</div>
<script  type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"> </script>
</body>
</html>