

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE312</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/sign_style.css")">
</head>
<body>

<div style="width:100%;height: 100%">

    <div style="width:60%;float:left;" >
        <img>
    </div>

    <div style="width:30%;float:left ">
        <div class="rectangle-div">
            <div class="forgot-password-div">
                <p class="text-forgot-password">FORGOT PASSWORD</p>
                <form >
                    @helper.CSRF.formField
                    <input class="input-forgot-password-email" placeholder="Emails" type="text" id="email" name="email"><br><br>
                    <input class="button_sign-up" type="submit" value="REGISTER">
                </form>
            </div>

        </div>
    </div>
</div>


</body>
</html>