@import play.mvc.Http.Request

@import domain.Info
@(list: List[Info])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradebook Menu</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/gradebook.css")">
    <div class="topnav">
        <a class="active" onclick="location.href='/gradebook'">GradeBook</a>
        <a onclick="location.href='/main'">Home</a>
    </div>

    <div>
        @for(i<-list){
            @if(i.getCheck()=="0"){
                <li>
                    <div class="courses">
                        <div class="coursesleft">
                            @i.getCourseName()
                            <div class="instructoremail">
                                <p>Instructor email: @i.getEmail()</p>
                            </div> 
                        </div>
                        <div class="coursesright">
                            <p>100/100</p>
                            <div class="view" onclick="location.href='/studentgradebook'">
                                <p>View All Work</p>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if(i.getCheck()=="1"){
                <li>
                    <div class="mycourses">
                        <div class="mycoursesleft">
                            <p>@i.getCourseName()</p>
                            <div class="myinstructoremail">
                                <p>Instructor email: @i.getEmail()</p>
                            </div> 
                        </div>
                        <div class="mycoursesright">
                                <p>Manage</p>
                            <div class="myview" onclick="location.href='/instructorgradebook'">
                                <p >View All Work</p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </div>
</body>
</html>
