<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradebook Menu</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/gradebook.css")">
    <div class="topnav">
        <a class="active">Gradebook</a>
        <a href="#news">Home</a>
    </div>
    <div>
        <li>
            <div class="courses">
                <div class="coursesleft">
                    Course Name
                    <div class="instructoremail">
                        Instructor email: 12345@gmail.com
                    </div> 
                </div>
                <div class="coursesright">
                    100/100
                    <div class="view">
                        View All Work
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="mycourses">
                <div class="mycoursesleft">
                    Course Name
                    <div class="myinstructoremail">
                        Instructor email: 12345@gmail.com
                    </div> 
                </div>
                <div class="mycoursesright">
                    Manage
                    <div class="myview">
                        View All Work
                    </div>
                </div>
            </div>
        </li>
        
    </div>
</body>
</html>