
@import play.mvc.Http.Request

@import domain.User

@(list: List[User])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Gradebook</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/instructorgradebook.css")">
    <div class="topnav">
        <a class="active" onclick="location.href='/gradebook'">GradeBook</a>
        <a onclick="location.href='/main'">Home</a>
    </div>
    <div class="courses">
        <div class="coursesleft">
                <p>coursename</p>
            <div class="instructoremail">
                <p>Instructor email:instructoremail</p>
            </div> 
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>FirstName</th>
                <th>Email</th>
                <th>LastName</th>
                <th>Grade</th>
            </tr>
            @for(i<-list){
                <tr>
                    <td>@i.getFirstname</td>
                    <td>@i.getLastname</td>
                    <td>@i.getEmail</td>
                    <td>@i.getGrade</td>
                </tr>
            }
          </table>
    </div>
</body>
</html>
