<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Gradebook</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/instructorgradebook.css")">
    <div class="topnav">
        <a class="active">Gradebook</a>
        <a>Home</a>
    </div>
    <div class="courses">
        <div class="coursesleft">
            Course Name
            <div class="instructoremail">
                Instructor email: 12345@gmail.com
            </div> 
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>AAAAA</td>
                <td>BBBBB</td>
                <td>12345@gmail.com</td>
                <td>100/100</td>
            </tr>
            
            <tr>
                <td>AAAAA</td>
                <td>BBBBB</td>
                <td>12345@gmail.com</td>
                <td>99/100</td>
            </tr>
          </table>
    </div>
</body>
</html>