@import play.mvc.Http.Request
@(courseForm: Form[domain.Course])(implicit request: Request, messages: Messages)
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Join a course</title>
    </head>
    <body>
        <form method="post" action="/join">
            @helper.CSRF.formField
        Email:<input type="text" name="email"><br/>
        Code:<input type="text" name="code"><br/>
        <input type="submit" value="提交">
        </form>
</body>
</html>
