<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main_page.css")">
    <div class="topnav">
        <a class="active">Gradebook</a>
        <a>Home</a>
    </div>
    <div class="buttons">
        
        <div class="b1">
            Create Course
        </div>
        <div class="b1">
            Join Course
        </div>
    </div>
    <li>
        <div class="courses">
            <div class="coursesleft">
                Course Name
                <div class="instructoremail">
                    Instructor email: 12345@gmail.com
                    <div class="code">
                        Join code: 123456
                    </div> 
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="mycourses">
            <div class="mycoursesleft">
                Course Name
                <div class="myinstructoremail">
                    Instructor email: 12345@gmail.com
                    <div class="mycode">
                        Join code: 123456
                    </div> 
                </div>
            </div>
        </div>
    </li>
    
</body>
</html>