
@import play.mvc.Http.Request

@import domain.Question

@(code:Integer,list: List[Question],earnGrade:Integer,totalgrade:Integer,coursename:String,expires:List[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Gradebook</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/studentgradebook.css")">
    <div class="topnav">
        <a onclick="location.href='/'">LogOut</a>
        <a onclick="location.href='/gradebook'">GradeBook</a>
        <a onclick="location.href='/main'">Home</a>
    </div>
    <div class="courses">
        <div class="coursesleft">
            <p>@coursename</p>
        </div>
        <div class="coursesright">
            <p>@earnGrade/@totalgrade</p>
        </div>
    </div>
    <div class="t">
        <table>
            <tr>
                <th>Submission Date</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Grade</th>
            </tr>
            @for(i<-0 until list.length){
                <tr>
                    <td>@expires(i)</td>
                    <td>@list(i).getHeader()</td>
                    <td>@list(i).getAnswer()</td>
                    <td>@list(i).getGrade()</td>
                </tr>
            }
          </table>
    </div>
</body>
</html>
