@import play.mvc.Http.Request
@(createForm: Form[domain.User])(implicit request: Request, messages: Messages)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Gradebook</title>
</head>
<body>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/studentgradebook.css")">
    <div class="topnav">
        <a class="active">Gradebook</a>
        <a>Home</a>
    </div>
    <div class="courses">
        <div class="coursesleft">
                <p>Course Name</p>
            <div class="instructoremail">
                <p>Instructor email: 12345gmail.com</p>
            </div> 
        </div>
        <div class="coursesright">
            <p>10/10</p>
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Submission Date</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>2022-10-14</td>
                <td>How are you?</td>
                <td>Great</td>
                <td>5/5</td>
            </tr>
            
            <tr>
                <td>2022-10-14</td>
                <td>How are you?</td>
                <td>Good</td>
                <td>5/5</td>
            </tr>
          </table>
    </div>
</body>
</html>